# Choix de l'implémentation des sequences
# Valeurs utiles : Liste ou Tableau
Sequences=Liste

# Niveau de sévérité à partir duquel les messages de log s'affichent
# Valeurs utiles : INFO ou SEVERE
LogLevel=INFO
